footer {
  position: fixed;
  bottom: 8px;
  right: 8px;
  font-size: 0.875rem;
  z-index: 1000;
  color: var(--mat-sys-on-surface-variant);
}

a {
  color: var(--mat-sys-tertiary);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--mat-sys-primary);
  }
}
