<mat-toolbar color="primary">
  <app-theme-toggle></app-theme-toggle>

  <div class="toolbar-container">
    <div class="logo" routerLink="/">
      <mat-icon>play_arrow</mat-icon>
    </div>

    <div class="search-container">
      <input
        [formControl]="searchControl"
        placeholder="What are you want to find out?"
        (blur)="onInputBlur()"
        (keyup.enter)="onSearch()"
      />
      <button class="search-button" (click)="onSearch()">
        <span>search</span>
      </button>
    </div>
    @if (navigationService.isHomePage()) {
    <button
      class="filter-button"
      mat-icon-button
      (click)="toggleFiltering()"
      matTooltip="Filtering & Sorting"
    >
      <mat-icon>tune</mat-icon>
    </button>
    }
  </div>

  <div class="action-buttons">
    @if (authService.isAuthenticated() && authService.currentUser()) {
    <span class="username">{{ authService.currentUser()?.name }}</span>
    } @if (authService.isAuthenticated()) {
    <button
      mat-icon-button
      routerLink="/admin"
      class="admin-button"
      matTooltip="Admin Panel"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="authService.logout()"
      class="logout-button"
      matTooltip="Logout"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
    } @else {
    <button
      mat-icon-button
      routerLink="/login"
      class="login-button"
      matTooltip="Login"
    >
      <mat-icon>login</mat-icon>
    </button>
    }
  </div>
</mat-toolbar>

@if (navigationService.isHomePage()) {
<app-search-filter></app-search-filter>
}
