<div class="video-list-container">
  @if ((showMainLoader() | async)) {
  <app-loading-spinner />
  } @else {
  <div class="videos-grid">
    @if (sortedVideos$ | async; as videos) { @if (videos.length > 0) { @for
    (video of videos; track $index + ':' + video.id) {
    <app-search-item [video]="video"></app-search-item>
    } } @else {
    <div class="no-results">
      <p>No videos found! Try a different word or sentence.</p>
    </div>
    } }
  </div>

  @if (isLoadingMore) {
  <div class="bottom-loader">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  } }
</div>
