@use "@angular/material" as mat;

:root {
  --foreground: 88, 101, 122;
  --background-start: 250, 245, 255;
  --background-mid: 248, 244, 255;
  --background-blue: 245, 250, 255;
  --background-green: 248, 255, 248;
  --background-yellow: 255, 255, 248;
  --background-orange: 255, 250, 245;
  --background-end: 255, 245, 245;

  --scrollbar-thumb: rgba(156, 163, 175, 0.5);
}

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body.dark-theme {
  --foreground: 215, 225, 235;
  --background-start: 10, 0, 20;
  --background-mid: 8, 3, 15;
  --background-blue: 5, 5, 20;
  --background-green: 3, 20, 3;
  --background-yellow: 20, 20, 3;
  --background-orange: 20, 10, 3;
  --background-end: 20, 0, 0;

  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgb(var(--foreground));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start)),
    rgb(var(--background-mid)),
    rgb(var(--background-blue)),
    rgb(var(--background-green)),
    rgb(var(--background-yellow)),
    rgb(var(--background-orange)),
    rgb(var(--background-end))
  );
  background-attachment: fixed;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}
